{% extends "base.html" %}

{% block page_content %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mt-5">
            <form method="post" class="form-box p-5">

                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <table class="table table-borderless">
                    <tr>
                        {% if messages.error.password %}
                            <span class="alert alert-info">{{ messages.error.password }}</span>
                        {% endif %}
                        <td><label for="password">Password</label></td>
                        <td><input type="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">Confirm Password</label></td>
                        <td><input type="password" name="confirm-password"/></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="next" value="{{ next }}"></td>
                        <td><button type="submit" class="btn btn-sm btn-secondary rounded-button">Submit</button></td>
                    </tr>
                </table>

            </form>
        </div>

    </div>

{% endblock %}
